#login-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  .login-illustration {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: #f4f7fe;
    .header {
      margin: 24px 0;
      h1 {
        font-family: "Pacifico", cursive;
        color: var(--app-primary-color);
      }
      h4 {
        color: var(--app-secondary-color);
      }
    }

    img {
      width: 450px;
      height: 450px;
    }
  }
  .login-form {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header {
      margin: 24px 0;
      h1 {
        text-align: left;
        color: var(--app-secondary-color);
      }
    }
    .login-field {
      display: flex;
      flex-direction: column;
      label,
      input {
        margin-bottom: 1rem;
      }
      label {
        color: var(--app-secondary-color);
        font-size: 13px;
        font-weight: bold;
      }
    }
    #signin-btn {
      margin-bottom: 16px;
      button {
        background-color: var(--app-primary-color);
        border: 1px solid var(--app-primary-color);
      }
    }
    #signup-text {
      color: var(--app-secondary-color);
      a {
        color: var(--app-primary-color);
      }
    }
  }
}

:host {
  ::ng-deep {
    .ui-inputtext:enabled:focus:not(.ui-state-error) {
      box-shadow: 0 0 0 0.2em #b3b3ff;
      border-color: var(--app-primary-color);
    }
  }
}
