#content-view {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 50vh;
  display: block;
  width: 75%;
  margin: 40px auto;
  .msg-view-conatiner {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    * {
      margin: 8px;
    }
    .msg-section {
      // width: 600px;
      min-height: 100px;
      max-height: 300px;
      background-color: #343433;
      color: #fff;
      border-radius: 16px;
      padding: 16px;
      margin: 16px 0;
      overflow-y: auto;
    }
  }

  .timer {
    h4 {
      text-align: center;
    }
  }
}
