<div id="content-view" *ngIf="contentObj">
  <div
    class="msg-view-conatiner"
    *ngIf="contentObj.active && remainingSeconds > 0"
  >
    <div class="msg-section">
      <p>{{ contentObj?.content }}</p>
    </div>

    <div class="timer">
      <h4>Your Message will disappear in</h4>
      <h4 style="text-align: center; color: var(--app-primary-color)">
        {{ daysLeft > 0 ? daysLeft + "d" : "" }}
        {{ hoursLeft > 0 ? hoursLeft + "h" : "" }}
        {{ minutesLeft > 0 ? minutesLeft + "m" : "" }}
        {{ secondsLeft > 0 ? secondsLeft + "s" : "" }}
      </h4>
    </div>
  </div>
  <div
    class="msg-expired-container"
    *ngIf="!contentObj.active || remainingSeconds === 0"
  >
    <h1>Oops! Your message has been expired...</h1>
  </div>
</div>
