<div class="main-container">
  <div id="options-section">
    <div class="opt-grp">
      <h1>What do you want to make disappear?</h1>
      <p-radioButton
        name="contentType"
        value="message"
        label="Message"
        class="rdo-btn"
        [(ngModel)]="contentTypeSelected"
        (onClick)="onChange()"
      ></p-radioButton>
      <p-radioButton
        name="contentType"
        value="link"
        label="Link"
        class="rdo-btn"
        [(ngModel)]="contentTypeSelected"
        (onClick)="onChange()"
      ></p-radioButton>
    </div>
    <div class="opt-grp">
      <h4>Expiry Time</h4>
      <p-dropdown
        [options]="ttl_options"
        [(ngModel)]="selectedTTL"
      ></p-dropdown>
    </div>
  </div>
  <div id="content-section">
    <input
      type="text"
      class="link-field"
      pInputText
      size="60"
      #linkField
      [(ngModel)]="content"
      placeholder="Your URL"
      *ngIf="contentTypeSelected === 'link'"
    />

    <textarea
      rows="7"
      cols="60"
      [(ngModel)]="content"
      placeholder="Your Message"
      class="text-area"
      *ngIf="contentTypeSelected === 'message'"
    ></textarea>
    <span
      [ngClass]="contentTypeSelected === 'message' ? 'msg-type' : 'link-type'"
      *ngIf="contentTypeSelected !== undefined"
    >
      <i
        class="fa fa-clipboard"
        (click)="onPaste($event)"
        aria-hidden="true"
        pTooltip="Paste"
      ></i>
    </span>
  </div>

  <button type="submit" class="generate-btn" (click)="onSubmit()">
    Generate
  </button>
</div>

<p-toast [preventOpenDuplicates]="true" position="bottom-center"></p-toast>

<p-dialog
  [(visible)]="displayURLDialog"
  styleClass="mydialog"
  modal="true"
  [draggable]="false"
>
  <p-header>
    <h2>Hurray 🎉 Your URL is here!</h2>
  </p-header>

  <div class="url-section">
    <div class="url">
      <a href="{{ urlPath }}" target="_blank">
        <h2>{{ urlPath }}</h2>
      </a>
    </div>
    <button
      ngxClipboard
      [cbContent]="urlPath"
      class="btn"
      (cbOnSuccess)="copied($event)"
    >
      {{ cpBtnText }}
    </button>
  </div>
</p-dialog>
