.main-container {
  margin: 24px auto;
  flex-grow: 1;
  padding: 24px;
  width: 700px;
  #options-section {
    .opt-grp {
      margin-bottom: 16px;
      * {
        margin: 10px;
      }
    }
  }

  #content-section {
    margin: 10px;
    textarea {
      margin: 0px;
      overflow-y: auto;
      resize: none;
      font-size: 14px;
      color: #333333;
      background: #ffffff;
      padding: 0.429em;
      border: 1px solid #a6a6a6;
      transition: border-color 0.2s, box-shadow 0.2s;
      border-radius: 4px;
    }
    textarea:focus {
      border: 1px solid #8dceff;
      box-shadow: 0 0 0 0 0.2em #8dceff;
    }
  }

  .generate-btn {
    margin: 10px;
    background-color: var(--app-primary-color);
    padding: 0.429em 2em;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  }
}
